<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/formation/" module="News" action="index" />
    <route url="/formation/news.html" module="News" action="index" />
    <route url="/formation/news-(.+)-([0-9]+)\.html" module="News" action="show" vars="id" />

    <route url="/formation/member\.html" module="Member" action="index" />
    <route url="/formation/member-(.+)-([0-9]+)\.html" module="Member" action="index" vars="id" />
    <route url="/formation/inscription\.html" module="Member" action="register" />
    <route url="/formation/connection\.html" module="Member" action="connect" />
    <route url="/formation/restore-pass\.html" module="Member" action="restore" />
    <route url="/formation/update-profile\.html" module="Member" action="update" />
    <route url="/formation/search\.html" module="Member" action="search" />
    <route url="/formation/search-result\.html" module="Member" action="search" vars="name"/>
</routes>