<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/formation/" module="News" action="index" />
    <route url="/formation/news.html" module="News" action="index" />
    <route url="/formation/news-(.+)-([0-9]+)\.html" module="News" action="show" vars="id" />
    <route url="/formation/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" />
</routes>